img{
    width: 70%;
    height: 70%;
    border-radius: 12px;
    padding: 5%;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.130);
    margin-right: 30%;
}
body{
    margin: 20%;
    background-color: rgba(245, 245, 245, 0.507);
}
h1{
    font-family:'Montserrat', sans-serif;
    font-size: 420%;
    letter-spacing: 20px;
    color:black;
    margin-bottom: 30%;

}